
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
  letter-spacing: 0.1em;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: 0.08em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn,
.btn-accent {
  display: block;
  height: 60px;
  padding: 18px 20px;
  transition: background-color 0.5s;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
}

.btn {
  border: 2px solid #ffffff;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-accent {
  border: 2px solid #2d3651;
  min-width: 350px;
  background-color: rgba(45, 54, 81, 0.8);
}

.btn:hover,
.btn-accent:hover {
  background-color: #d66926;
}
